* {
    box-sizing: border-box;
}

body {
    background-color: #ffe5ec;
    background-image: radial-gradient(circle, #f72585,#ffc2d1, #ff8fab, #ffff);

}

h1 { 
    color: #f72585;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


p { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black;
    margin: 0px 50px 10px 50px;
    padding: 10px;
    border: 2px dashed #ffffff;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
}


h2 {
    color: #ffff;
    margin: 25px 50px 0px 50px;
    padding: 10px;
    display: grid;
    justify-content:left;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
    list-style-type:none;
    margin:10px;
    padding: 10px;
    overflow: hidden;
    background-color: #ffc2d1;
    font-weight: bold;
    font-size: 25px;
    border: 2px dashed #ffffff;
}

li {
    float: left;
}

li a {
    display:inline-block;
    color: #ffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

li a:hover {
    background-color: #ffe5ec;
}

 
 img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 5%;
    border: 3px dashed #ffffff; 
    margin: auto;
    padding: auto;
 }

 .center {
    display: block;
    margin: auto;
    padding: auto;
  }

section {
    display:inline-flex;
    flex-wrap: wrap;
}

#about-me{
    display:flex;
    flex-wrap: nowrap;
    margin-top: 25px;
}
.content{
    display:inline-grid;
}

#work {
    display:inline-flex;
    flex-wrap: nowrap;
}

#study-guide {
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 5px 10px 15px 10px;
    padding: 5px 10px;
    max-width: 95%;
    max-height: 95%;
}
#study-guide:hover {
    background-color: #f72585 ;
}
#horiseon {
    display:flex;
    flex-wrap: nowrap;
    margin: 5px 10px;
    padding: 5px 10px;
    max-width:75%;
    max-height:75%;
}
#horiseon:hover {
    background-color: #f72585;
}


footer {
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    
}
